@font-face {
    font-family: Pixeloid;
    src: url(./PixeloidSans-nR3g1.woff2);
    font-display:fallback;
}

h1{
    text-align: center;
    font-family: Pixeloid, "Courier New", Courier, monospace;
    font-display: optional;
}

.sketchboard {
    line-height: 12px;
    text-align: center;
}

.sketchboard > div{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    height: 16px;
    width: 16px;
    display:inline-block;
}
