@font-face{
    font-family: Pixeloid;
    src: url(./assets/fonts/PixeloidSans-nR3g1.woff2);
    font-display: fallback;
}

@font-face{
    font-family: Squarefont;
    src: url(./assets/fonts/Square.woff2);
    font-display: fallback;
}

h1{
    text-align: center;
    font-family: Pixeloid, "Courier New", Courier, monospace;
}

.main-container{
    display: flex;
    align-items: center;
}

.controls-container{
    display: flex;
    flex-direction: column;
    font-family: Squarefont, "Courier New", Courier, monospace;
    gap: 1rem;
}

    h2{
        text-align: center;
        font-family: Pixeloid, "Courier New", Courier, monospace;
    }

    label{
        line-height: 2em;
    }

    button,
    legend{
        color: white;
        background-color: black;
        padding: 5px 10px;
        border: none;
        font-family: inherit;
    }

    button:hover{
        color: dimgray;
    }

    button:active{
        background-color: white;
        color: black;
        outline: 1px solid black;
    }

    .flex-align-container{
        display: flex;
        gap: .8rem;
        accent-color: black;
        align-items: center;
    }

    .modes input{
        appearance: none;
        width: 1rem;
        height: 1rem;
        border: 0.12rem solid dimgray;
        transition: 0.2s all linear;
    }

    .modes input:checked{
        border: 0.35rem solid black;
    }

.sketchboard{
    height: 75vh;
    width: 75vh;
    display: grid;
}

.sketchboard > div{
    background-color: white;
    outline: solid 1px dimgray;
}